<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="header">
        <h2 style="text-align: center;">Welcome To Our Application</h2>
    </div>
    <div class="login-container">
        <h3>LOGIN</h3>
        <form>
            <div class="form-group">
             
                <input type="text" id="email" placeholder="Email">
            </div>
            <div class="form-group">
              
                <input type="password" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="submit" value="Login">
            </div>
            <div>
               <h6 >Don't Have An Account Yet ? <a href="/user/register">Sign up</a></h6>
            </div>
        </form>
       
    </div>
    <div class="profile-image">
      <img src="/image/google.png" alt="google">
    </div>
        
</body>
</html>
