<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <div class="header">
        <h2 style="text-align: center;">Welcome To Our Application</h2>
    </div>
    <div class="login-container">
        <h3>LOGIN</h3>
        <form>
            <div class="form-group">
             
                <input type="text" id="email" placeholder="Email">
            </div>
            <div class="form-group">
              
                <input type="password" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="submit" value="Login">
            </div>
            <div>
               <h6 >Don't Have An Account Yet ? <a href="/user/register">Sign up</a></h6>
            </div>
        </form>
       
    </div>
    <div class="profile-image">
      <img src="/image/google.png" alt="google">
    </div>
        
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
    const url = new URLSearchParams(window.location.search)
    const registered = url.get('newUser')
    if(registered === 'true'){
        Toastify({
            text: "You saved successfully!",
            duration: 2000, 
            close: true, 
            gravity: "center", 
            backgroundColor: "#33cc33", 
        }).showToast();
    }
</script>
