<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
    <link rel="stylesheet" href="/css/style.css">
 
     
</head>
<body>
    <div class="header">
        <h2 style="text-align: center;">To Enjoy With App Please Sign up</h2>
    </div>
   
     
    
    <div class="login-container">
        <h3>REGISTER</h3>
       
            <div class="form-group">
                
                <input type="text" id="username" placeholder="Username">
            </div>
            <div class="form-group">
               
                <input type="text" id="email" placeholder="Email">
            </div>
            <div class="form-group">
              
                <input type="text" id="mobile" placeholder="Mobile">
            </div>
            <div class="form-group">
             
                <input type="password" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                
                <input type="password" id="confirm password" placeholder="Confirm Password">
            </div>
            <div class="form-group">
                <input type="submit" value="REGISTER" onclick="register()">
            </div>
 
      
    </div>
    <h6> 
        Already Have An Account <a href="/user/login">Login</a>
    </h6>
  
      
   
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    function register(){
       const username = document.getElementById('username').value.trim()
       const email = document.getElementById('email').value.trim()
       const mobile = document.getElementById('mobile').value.trim()
       const password = document.getElementById('password').value.trim()
       const confimPassword = document.getElementById('confirm password').value.trim()

      
       
       $.ajax({

            url:'/user/register',
            method:'post',
            data:{
                username,
                email,
                mobile,
                password,
                confimPassword
            },
            success:(response)=>{
                
                  
                 if(response.status === 'exist'){
                   
                    const Toast = Swal.mixin({
                    toast: true,
                    position: "center",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.onmouseenter = Swal.stopTimer;
                        toast.onmouseleave = Swal.resumeTimer;
                    }
                    });
                    console.log(Toast)
                    Toast.fire({
                    icon: "warning",
                    title: "You have already registered"
                    });
                }else if(response.status === 'createdNewUser'){
                    alert('jjjj')
                    window.location.href = '/user/login'
                }
            }
       })

    }
</script>
