<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
 
     
</head>
<body>
    <div class="header">
        <h2 style="text-align: center;">To Enjoy With App Please Sign up</h2>
    </div>
    <div class="login-container">
        <h3>REGISTER</h3>
        <form>
            <div class="form-group">
                
                <input type="text" id="email" placeholder="Username">
            </div>
            <div class="form-group">
               
                <input type="text" id="" placeholder="Email">
            </div>
            <div class="form-group">
              
                <input type="text" id="" placeholder="Mobile">
            </div>
            <div class="form-group">
             
                <input type="password" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                
                <input type="password" id="password" placeholder="Confirm Password">
            </div>
            <div class="form-group">
                <input type="submit" value="Login">
            </div>
        </form>
      
    </div>
    <h6> 
        Already Have An Account <a href="/user/login">Login</a>
    </h6>
  
      
   
</body>
</html>
