<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f3eeeb;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column; 
            align-items: center;
        }
        .header {
            background-color: #ffffff;
           width: 100%;
            box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
            position: fixed;
        }
        .login-container {
            background-color: #ffffff;
            width: 300px;
            max-width: 50%;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
            margin-top: 150px;
        }
        h3 {
            text-align: center;
            margin-bottom: 20px;
        }
        .form-group {
            margin-bottom: 15px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"], input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-sizing: border-box;
        }
        input[type="submit"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 3px;
            background-color: #d4b55d;
            color: #fff;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #9e3623;
        }
    </style>
</head>
<body>
    <div class="header">
        <h2 style="text-align: center;">To Enjoy With App Please Sign up</h2>
    </div>
    <div class="login-container">
        <h3>Login</h3>
        <form>
            <div class="form-group">
                <label for="email">Usarname</label>
                <input type="text" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Email</label>
                <input type="password" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="password">Mobile</label>
                <input type="password" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="password"> Confirm Password</label>
                <input type="password" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="submit" value="Login">
            </div>
        </form>
        <h6> 
            Already Have An Account <a href="/user/login">Login</a>
        </h6>
    </div>
  
      
   
</body>
</html>
